<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title> Gerador de Assinatura - Binswanger Brazil </title>
    <!-- BIBLIOTECA BOOTSTRAP -->
    <link rel="stylesheet" type="text/css" href="style.css" media="screen">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- ARQUIVOS CSS HTML -->
    <link rel="stylesheet" type="text/html" href="assinatura-binswanger-brazil-2811-v2.html" />

</head>

<body>

    <!-- Barra Superior BootStrap -->
    <!-- Image and text -->
    <nav class="navbar navbar-dark" style="background-color: #132a3e;">
        <a class="navbar-brand" href="http://binswangerbrazil.com.br">
            <img src="https://drive.google.com/uc?id=1adDWb9hURNB8S9FY_M7CV-t2h1VX3Xb-" width="22" height="30"
                class="d-inline-block align-top" alt="">
            Gerador de Assinatura
        </a>
    </nav>

    </nav>
    <!-- Fim da Barra Superior BootStrap -->
    <form>
        <div ng-app="">
            <div class="text-box" ng-app="">
                <div class="form-00" id="form-01">
                    <div id="nome" ng-app="">
                        <br>Nome<br>
                        <input type="text" name="firt-name" placeholder="Primeiro nome" ng-model="nome" id="insertNome"
                            required>
                    </div>
                    <div id="sobrenome">
                        Sobrenome<br>
                        <input type="text" name="last-name" placeholder="Último nome" ng-model="sobrenome"
                            id="insertSobrenome" required>
                    </div>
                </div>
                <div class="form-00" id="form-02">
                    <div>
                        Cargo<br>
                        <input type="text" placeholder="Cargo" id="insertCargo" ng-model="cargo" required>
                    </div>
                    <div>
                        Celular<br>
                        <input type="text" maxlength="15" placeholder="(XX) XXXXX-XXXX" id="insertCelular"
                            ng-model="celular">
                    </div>

                </div>

            </div>

            <!-- Assinatura -->
            <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top"
                title="Tooltip on top">
                Tooltip on top
            </button>

            <div class="container" style="border:lightslategray 1px solid; margin-top: 20px; 
                            padding: 7px; width: 312px; height: 250px; border-radius: 5px;">

                <table align="center" border="0" style="width: 310px; height: 118px;">
                    <tbody>
                        <tr>
                            <td>
                                <table border="0" style="width: 300px; height: 112px;">
                                    <tbody>
                                        <tr>
                                            <td><span
                                                    style="font-family: 'Open Sans ExtraBold', 'Open Sans', 'Arial Black', Arial, 'sans-serif'; font-size: 10pt; color: #424242"><strong>{{nome}}
                                                        {{sobrenome}}</strong></span>
                                                <br><span
                                                    style="font-family: 'Open Sans Light', 'Open Sans', Arial, 'sans-serif'; font-size: 8pt; color: #424242">{{cargo}}</span>
                                                <br><span
                                                    style="font-family: 'Open Sans Light', 'Open Sans', Arial, 'sans-serif'; font-size: 8pt; color: #424242">+55
                                                </span>
                                                <a href="tel:11999999999"><span
                                                        style="font-family: 'Open Sans SemiBold', 'Open Sans', Arial, 'sans-serif'; font-size: 8pt; color: #e30613">{{celular}}</span></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <table height="97" border="0" style="width: 230px; height: 64px;">
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                <table border="0"
                                                                    style="width: 23.184px; height: 34.978px;">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td><a
                                                                                    href="http://binswangerbrazil.com.br/"><img
                                                                                        src="https://drive.google.com/uc?id=1adDWb9hURNB8S9FY_M7CV-t2h1VX3Xb-"
                                                                                        width="23.184" height="34.978"
                                                                                        alt="Binswanger Brazil"></a>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                            <td style="background-color: #888888"></td>
                                                            <td><span
                                                                    style="font-family: 'Open Sans Light', 'Open Sans', Arial, 'sans-serif'; font-size: 8pt; color: #424242">+55
                                                                    11 </span><a href="tel:1129851101"><span
                                                                        style="font-family: 'Open Sans SemiBold', 'Open Sans', Arial, 'sans-serif'; font-size: 8pt; color: #e30613">2985.1101</span></a><br><span
                                                                    style="font-family: 'Open Sans Light', 'Open Sans', Arial, 'sans-serif'; font-size: 8pt; color: #424242">Rua
                                                                    Líbero Badaró, 377 - 27º
                                                                    Andar</span><br><span
                                                                    style="font-family: 'Open Sans Light', 'Open Sans', Arial, 'sans-serif'; font-size: 8pt; color: #424242">CEP
                                                                    01009-000 | Centro</span><br><span
                                                                    style="font-family: 'Open Sans Light', 'Open Sans', Arial, 'sans-serif'; font-size: 8pt; color: #424242">São
                                                                    Paulo | Brasil</span><br><a
                                                                    href="http://binswangerbrazil.com.br/"><span
                                                                        style="font-family:'Open Sans SemiBold', 'Open Sans', Arial, 'sans-serif'; font-size: 8pt; color: #e30613">www.binswangerbrazil.com.br</span></a>
                                                                <table border="0" style="height: 24px; width: 80px;">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td><a
                                                                                    href="https://www.linkedin.com/company/binswanger-brazil/"><img
                                                                                        src="https://drive.google.com/uc?id=1B06Ko8oyDXWSi3dy0xZytDITnvwDAnL4"
                                                                                        width="15" height="15"
                                                                                        alt="linkedin"></a></td>
                                                                            <td><a
                                                                                    href="https://www.facebook.com/binswangerbrazil/"><img
                                                                                        src="https://drive.google.com/uc?id=1Ui2b5JwOcKkTT25OXvhcj-c_H4nkTJjj"
                                                                                        width="15" height="15"
                                                                                        alt="facebook"></a></td>
                                                                            <td><a
                                                                                    href="https://www.instagram.com/binswangerbrazil/"><img
                                                                                        src="https://drive.google.com/uc?id=1ESzVk7s-4Byat8_h_VKLA4dX3_PeV5K3"
                                                                                        width="15" height="15"
                                                                                        alt="instagram"></a>
                                                                            </td>
                                                                            <td><a
                                                                                    href="https://twitter.com/binswangerbr"><img
                                                                                        src="https://drive.google.com/uc?id=1qo318gfdoxXBnnfrw3GtdoMoMy0Z6e0d"
                                                                                        width="15" height="15"
                                                                                        alt="twitter"></a></td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <!-- Fim da Assinatura -->
            </div>
    </form>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

</html>
